<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Session Request</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <h1 class="page-title mb-20">Session Request</h1>

        <ion-list lines="none" class="list-style-1">
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/images/1.png" alt="">

              <ion-text class="female-icon">
                <ion-icon src="assets/icons/female.svg"></ion-icon>
              </ion-text>
            </ion-avatar>
            <ion-label>
              <h3>Ashley Wilson</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      
      <ion-col size="12">
        <ion-card>
          <ion-item class="ion-no-padding ion-align-items-start" lines="none">
            <ion-label class="mt-0">Location</ion-label>
            <ion-text slot="end">Home 1234 3rd Street Calabasas, CA 31405</ion-text>

          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Location Type</ion-label>
            <ion-text slot="end">Home</ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Date</ion-label>
            <ion-text slot="end">12/24/2024</ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Time</ion-label>
            <ion-text slot="end">12:30 PM</ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Massage Category</ion-label>
            <ion-text slot="end">Category Example</ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Duration</ion-label>
            <ion-text slot="end">XX Minutes</ion-text>
          </ion-item>

        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Table Details</ion-label>
            <ion-text slot="end">I have my own table</ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Sheet Preferences</ion-label>
            <ion-text slot="end">Therapist Provides</ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Stair Details</ion-label>
            <ion-text slot="end">Stairs Example</ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Pet Details</ion-label>
            <ion-text slot="end">Pets Example</ion-text>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <h3>Notes for Therapist</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Feugiat elementum maecenas ac purus duis volutpat vitae etiam. Velit auctor netus suspendisse leo tortor. Tortor fringilla feugiat tortor nisi. Phasellus lorem quis amet pharetra quisque a turpis. Morbi augue urna arcu placerat id. Suscipit cras ultricies ipsum diam.</p>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <h3>Parking Directions</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Feugiat elementum maecenas ac purus duis volutpat vitae etiam. Velit auctor netus suspendisse leo tortor.</p>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <h1 class="page-title mb-15">Earnings</h1>
        <ion-card>
          <!-- <ion-item class="ion-no-padding" lines="none">
            <ion-label>Subtotal</ion-label>
            <ion-text slot="end">{{bookingDetails.notes_for_therapist}}</ion-text>
          </ion-item> -->
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Base Pay</ion-label>
            <ion-text slot="end">$50.00</ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>Tips</ion-label>
            <ion-text slot="end">$20.00</ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label class="font-bold text-white">Est. Total</ion-label>
            <ion-text slot="end" class="font-bold text-white">$70.00</ion-text>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-button expand="block" class="primary-btn">Accept</ion-button>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-button expand="block" class="primary-btn-outline">Ignore</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>