.title{

    font-size: 16px;
}

.modal-center {
    --backdrop-opacity: 0.9;

    ion-content {
        --background: transparent !important;
        background: transparent !important;

        .flex-grid-modal {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 40px;
            color: #fff;
            text-align: center;
            position: relative;
            @media screen and (min-width:768px) {
                height: auto;
            }
            .close-icon{
                position: absolute;
                top: 70px;
                font-size: 40px !important;
                left: 30px;
                color: #fff;
            }
            ion-icon {
               
                font-size: 56px;
            }

            h1 {
                font-size: 22px;
                font-family: M-Bold !important;
                color: var(--ion-color-white) !important;
            }

            p {
                font-size: 16px;
                font-family: M-Regular !important;
                color: var(--ion-color-light);
            }
        }
    }

    &::part(content) {
        background: transparent;
    }
}
.primary-btn-outline {
    --background:transparent !important;
    --background-activated: transparent !important;
    --background-hover: transparent !important;
    --background-focused: transparent !important;
    --color: var(--ion-color-white) !important;
    --color-hover: var(--ion-color-white) !important;
    --color-activated: var(--ion-color-white) !important;
    --color-focused: var(--ion-color-white) !important;
    --border-width: 1px;
    --border-style: solid;
    --border-color: #9E9EAC;
    height: 54px;
    font-size: 18px;
    --border-radius: 30px;
    text-transform: uppercase;
}
.err1 {
    color: gold !important;
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.alert-icon{
    color:#b57211;
}

.checkbox-custom{
    --checkbox-background:transparent;
    --border-color:var(--ion-color-light);
    --checkbox-background-checked:var(--ion-color-white);
    --border-color-checked:var(--ion-color-white);
    --checkmark-color:var(--ion-color-primary);
    --border-width:1px;
    --border-radius:3px;
    --checkmark-width: 4;
    margin-left: 16px;
    strong{
        text-decoration: underline;
    }
    &::part(label){
        font-size: 13px;
        color: var(--ion-color-white);
        white-space: unset !important;
        flex: 1 1 0%;
    }
    &::part(container){
        position: relative;
       top: 2px;
    }
}
