<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Choose Location</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button id="guest-help-trigger" *ngIf="helptext">
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <!-- <ion-popover trigger="guest-help-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">
        <p class="text-white help-text" [innerHTML]="helptext.content"></p>
      </ion-content>
    </ng-template>
  </ion-popover> -->
</ion-header>

<ion-content>
  <form (ngSubmit)="goToNextPage()">
    <ion-grid class="ion-padding" [fixed]="true">
      <ion-row>
        <!-- <ion-col size="12">
          <h1 class="page-title mb-30">Choose Location</h1>
        </ion-col> -->

        <ion-col size="12" *ngIf="!ready">
          <div class="ion-text-center ion-padding">
            <ion-spinner color="light"></ion-spinner>
          </div>
        </ion-col>
        
        <ion-col size="12">
          <ion-radio-group [(ngModel)]="selectedLocation" name="location">

            <ion-item lines="none" *ngFor="let location of locationData; let i = index"
              [ngClass]="{'active': location.id == selectedLocation}">
              <ion-radio mode="md" labelPlacement="end" value="{{location.id}}">
                <div>
                  <h3 *ngIf="location?.location_name">{{location.location_name}}</h3>
                  <p>{{location.location_address}}</p>
                </div>
              </ion-radio>
            

              <ion-buttons slot="end">
                <ion-button (click)="locationUpdate(i, location.id)">
                  <ion-icon color="light" src="assets/icons/edit.svg"></ion-icon>
                </ion-button>
                <ion-button color="light" (click)="deleteLocations(i,location.id)">
                  <ion-icon src="assets/icons/delete.svg"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>

          </ion-radio-group>
        </ion-col>



        <ion-col size="12" *ngIf="ready && locationData.length == 0">
          <div>
            <p class="no-location">No location found.</p>
          </div>
        </ion-col>

        <ion-col size="12">
          <h5 class="add" (click)="addNewLocation()">+ Add New Location</h5>
        </ion-col>

        <ion-col size="12"  size-md="6" offset-md="3">
          <ion-button expand="block" class="primary-btn mt-15" type="submit" [disabled]="!selectedLocation">NEXT</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>