.question {

    font-size: 21px;
}




ion-radio {
    font-size: 13px;
        color: var(--ion-color-light);
        --color: white;
        margin-bottom: 15px;
        --color-checked: white;
        --border-width: 1px;

        &::part(container){
            height: 18px;
            width: 18px;
        }
}

.required {
    color: gold; 
    font-size: 14px;
    position: absolute;
    top: 7px;
    margin-left: 2px;
}

.search-item {
    position: relative;

    .wrap_data {
        position: absolute;
        top: 100%;
        background: var(--ion-color-secondary);
        padding: 15px;
        border-radius: 12px;
        left: 0;
        right: 0;
        max-height: 300px;
        overflow-y: auto;
        width: 100%;
        z-index: 999;

        ion-list {
            background: transparent !important;

            ion-item {
                --min-height: 10px;
                --background: transparent !important;
                --background-hover: transparent !important;
                --background-active: transparent !important;
                --background-focused: transparent !important;

                ion-label {
                    p {
                        color: var(--ion-color-light);
                        font-size: 13px;
                        font-family: M-Regular !important;
                    }
                }
            }
        }
    }
}

.field {
    --inner-padding-end: 0;
    --padding-end: 10px;

    ion-icon[slot="start"] {
        margin-right: 10px;
    }
}

.textarea-container {
    position: relative;
    .field {
        position: relative;
        ion-buttons.clear-btn {
            position: absolute;
            bottom: 8px;
            right: 8px;
            z-index: 10;
            ion-button {
                padding: 0;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: -8px;
                ion-icon {
                    font-size: 20px;
                }
            }
        }
    }
}