<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Scheduled Requests</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <div class="spinner-container" *ngIf="showSpinner == 1">
          <ion-spinner color="light" class="white-spinner"></ion-spinner>
        </div>
        <ion-list>
          <ng-container *ngIf="showSpinner == 2 && bookingData.length === 0">
            <ion-col size="12" class="ion-text-center ion-padding">
              <div class="no-location">No Request Found.</div>
            </ion-col>
          </ng-container>
          <ion-item-group *ngFor="let data of bookingData" (click)="goToNext(data.id)">
            <div class="flex-item">
              <ion-text>{{data.booking_date | date: 'MM/dd/yyyy'}}</ion-text>
              <ion-text>{{data.booking_start_time}}</ion-text>
            </div>
            <ion-item lines="none" class="ion-no-padding">

              <ng-container *ngIf="!data.therapist_info">
                <ion-avatar slot="start">
                  <img alt="" [src]="data?.user_placeholder_img"
                    onerror="this.src='/assets/images/user1-image.jpg'" />
                </ion-avatar>
                <ion-label>
                  <!-- <p>Not accepted</p> -->
                   <p>Pending</p>
                </ion-label>
              </ng-container>

              <ng-container *ngIf="data.therapist_info">
                <ion-avatar slot="start">
                  <img alt="" [src]="data?.therapist_info?.user_image"
                    onerror="this.src='/assets/images/user1-image.jpg'" />
                </ion-avatar>
                <ion-label>
                  <p>{{data.therapist_info?.name}}</p>
                </ion-label>
              </ng-container>


              <ion-text slot="end" *ngIf="data?.location_details?.location_name">
                {{data?.location_details?.location_name}}
              </ion-text>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="bookingData.length < total_bookingData">
    <ion-infinite-scroll-content class="white-spinner"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>