.question {

    font-size: 21px;
}

.pricing {

    font-size: 22px;
    color: white;
}

.para-1 {

    font-size: 12px;
}

ion-button {
    --background: var(--ion-color-warning-shade);
    margin: auto;
    --color: var(--ion-color-white);
    font-size: 14px;
}

.no-found {
    text-align: center;
    margin-bottom: 15px;
    p{
        color: gold;
    }
  }


ion-card {
    background: rgb(0, 0, 38, 0.4);
    padding: 40px 30px;
    margin: 0;
    border: 1px solid var(--ion-color-light);
    border-radius: 12px;
    box-shadow: none;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    &.selected {
        box-shadow: 0 0 0 3px white !important;
        /* White outline around the card */
    }


}

.dolar {

    font-size: 24px;
color: white;
font-weight: bold;

}

p {

    color: #CCCCD4;
}
.list-p-item{
    display: flex;
    font-size: 13px;
    .mark{
        min-width: 16px;
    }
}
.mark {

    color: white;
    margin-right: 7px;
}

h5 {

    font-weight: bold;
    color: white;
}

h3 {
    color: white;
}

.error {
    color: gold;
    font-size: 14px;
    gap: 5px;
}

ion-chip.chip {
    --background: gold;
    font-size: 18px;
    color: var(--ion-color-primary);
    font-weight: 900 !important;
    padding-left: 24px;
    padding-right: 24px;
}

.card-item {
    --background: rgb(0, 0, 38, 0.4);
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 7px;
    --padding-bottom: 7px;
    --border-radius: 8px;
    margin-bottom: 15px;
    --border-width: 1px;
    --border-color: var(--ion-color-light);
    --border-style: solid;
    cursor: pointer;
    ion-icon {
        font-size: 32px;

    }

    ion-label {
        h3 {
            color: var(--ion-color-white);
            font-size: 16px;
        }
    }
}
.choose {
    color: white;
    --color: white;
    --color-checked: white;
    width: 100%;
    &::part{
        font-size: 14px;
        color: #fff;
    }
}
.cancel-btn{
    --padding-start:30px !important;
    --padding-end:30px !important;
    margin-top: 20px;
}

.linkText{
    font-size: 13px;
    color: #fff;
    font-family: M-Regular;
}