<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Delete Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="deleteAccount" (ngSubmit)="onSubmit(deleteAccount.value)">
    <ion-grid class="ion-padding"  [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <h1 class="page-title mb-20">Delete Account</h1>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" class="field rounded-25">
            <ion-textarea class="message" rows="10" placeholder="Type your reason here..."
              formControlName="reason" appCapitalizeFirst></ion-textarea>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.reason">
            <p class="err"
              *ngIf="deleteAccount.get('reason')?.hasError(validation.type) && (deleteAccount.get('reason')?.dirty || deleteAccount.get('reason')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{validation.message}}
            </p>
          </ng-container>
        </ion-col>
        <ion-col size="12" size-md="6" offset-md="3">
          <ion-button expand="block" class="primary-btn" type="submit"
            [disabled]="!deleteAccount.valid">Sumbit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>