ion-content {
    --backgrounnd: transparent;

}

.logo {
    width: 100%;
    max-width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.para-1 {

    color: var(--ion-color-white);
    font-size: 14px;
    line-height: 1.4;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: M-Regular !important;
}

.head-1 {
    color: var(--ion-color-white);
}

// .message{

//     margin-top: 5px;
//     color: #9E9EAC;
//     font-size: 13px;
// }