ion-list {
  background: transparent;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-faqs-found {
  color: gold;
  text-align: center;
}
