
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>F.A.Q.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <div class="spinner-container" *ngIf="showSpinner == 1">
          <ion-spinner color="light" class="white-spinner"></ion-spinner>
        </div>
        <ion-accordion-group class="accordion-list">
          <ng-container *ngIf="showSpinner == 2 && show_faqs.length === 0">
            <ion-col size="12" class="ion-text-center ion-padding">
              <div class="no-faqs-found">No Found.</div>
            </ion-col>
          </ng-container>
          <ion-accordion *ngFor="let data of show_faqs">
            <ion-item class="rectangle" slot="header" lines="none">
              <ion-label [innerHTML]="data.title"></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" [innerHTML]="data.content"></div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="show_faqs.length < total_faqs">
    <ion-infinite-scroll-content class="white-spinner"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>