

ion-card{
    background: rgb(0, 0, 38, 0.4);
    padding: 40px 30px;
    margin: 0;
    border: 1px solid var(--ion-color-light);
    border-radius: 12px;
    box-shadow: none;
    text-align: center;
    color: white;
    cursor: pointer;
    ion-button{
        --background:var(--ion-color-warning-shade);
        margin: auto;
        --color:var(--ion-color-white);
        font-size: 14px;
    }
    h3{
        font-size: 19px;
        color: #fff;
    }
    p{
        font-size: 13px;
        color: var(--ion-color-light);
    }
   h1{

        font-size: 28px;
        color: var(--ion-color-white);
    }
    &.selected {
        box-shadow: 0 0 0 3px white; /* White outline around the card */
    }
}


