<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="edit_password" (ngSubmit)="onSubmit(edit_password.value)">
    <ion-grid class="ion-padding" [fixed]="true">
      <ion-row>
        <!-- <ion-col size="12">
          <h1 class="head-1">Change Password</h1>
        </ion-col> -->

        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input [type]="oldPasswordType" placeholder="Enter Old Password"
              formControlName="current_password"></ion-input>
            <ion-icon [name]="oldPasswordIcon" (click)="hideShowPassword('old')" slot="end" class="eye"></ion-icon>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.current_password">
            <p class="err"
              *ngIf="edit_password.get('current_password')?.hasError(validation.type) && (edit_password.get('current_password')?.dirty || edit_password.get('current_password')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
            </p>
          </ng-container>

        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input [type]="newPasswordType" placeholder="Enter New Password" formControlName="new_password"
              minlength="5"></ion-input>
            <ion-icon [name]="newPasswordIcon" (click)="hideShowPassword('new')" slot="end" class="eye"></ion-icon>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.new_password">
            <p class="err"
              *ngIf="edit_password.get('new_password')?.hasError(validation.type) && (edit_password.get('new_password')?.dirty || edit_password.get('new_password')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
            </p>
          </ng-container>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input [type]="confirmPasswordType" placeholder="Enter Confirm Password"
              formControlName="confirm_password"></ion-input>
            <ion-icon [name]="confirmPasswordIcon" (click)="hideShowPassword('confirm')" slot="end"
              class="eye"></ion-icon>
          </ion-item>
          <ng-container>
            <p class="err"
              *ngIf="edit_password.hasError('passwordNotMatch') && edit_password.controls['confirm_password'].dirty">
              <ion-icon class="erricon" name="information-circle-outline"></ion-icon>Password Not Match
            </p>
          </ng-container>
        </ion-col>
        <ion-col size="12"  size-md="6" offset-md="3">
          <ion-button expand="block" class="primary-btn" type="submit" [disabled]="!edit_password.valid">Sumbit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>