<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>My Transactions</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <h1 class="page-title mb-20">My Transactions</h1>
        <ion-item lines="none" class="search-item">
          <ion-searchbar placeholder="Search..."></ion-searchbar>
      </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none" class="list-style-1 mt-20">
          <ion-item>
            <ion-label>
              <h3>12/21/2024</h3>
            </ion-label>
            <ion-text slot="end">
              <h3>$123.45</h3>
              <p>VISA 1234</p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-label>
              <h3>12/21/2024</h3>
            </ion-label>
            <ion-text slot="end">
              <h3>$123.45</h3>
              <p>VISA 1234</p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-label>
              <h3>12/21/2024</h3>
            </ion-label>
            <ion-text slot="end">
              <h3>$123.45</h3>
              <p>VISA 1234</p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-label>
              <h3>12/21/2024</h3>
            </ion-label>
            <ion-text slot="end">
              <h3>$123.45</h3>
              <p>VISA 1234</p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-label>
              <h3>12/21/2024</h3>
            </ion-label>
            <ion-text slot="end">
              <h3>$123.45</h3>
              <p>VISA 1234</p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-label>
              <h3>12/21/2024</h3>
            </ion-label>
            <ion-text slot="end">
              <h3>$123.45</h3>
              <p>VISA 1234</p>
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
