
.para{
    color: #CCCCD4;
    font-size: 14px;
    line-height: 1.4;
}

.section-title{
    font-size: 16px;
  font-family: M-Regular !important;
  color: var(--ion-color-white);
  margin: 0;
  margin-bottom: 10px;
}

.upload-box {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 20px;
  .col-grid {
      width: calc(100% / 3);
      padding-left: 10px;
      padding-right: 10px;
      .upload-doc {
          position: relative;
          padding-top: 100%;
          background: rgb(0, 0, 38, 0.4);
          border-radius: 12px;
          border: 1px solid var(--border-rgb);
          // overflow: hidden;
          img{
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 12px;
              z-index: 1;
          }
          ion-text{
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              input{
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  height: 100%;
                  width: 100%;
                  opacity: 0;
                  z-index: 1050;
              }
              p{
                  margin: 0;
                  margin-top: 5px;
                  color: var(--ion-color-light);
                  font-size: 14px;
              }
              ion-icon{
                  font-size: 36px;
                  color: var(--ion-color-light);
              }
          }
        }
    }
  
}

ion-footer{
  background:var(--ion-color-primary);
  --background:var(--ion-color-primary);
   padding: 10px;
}