<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Add licensure and credentials</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <form [formGroup]="licensureAndCredentialsForm" (ngSubmit)="onSubmit()">
      <ion-col size="12">
        <p class="para">Lorem ipsum dolor sit amet consectetur. Purus ultrices
          vestibulum tincidunt sit amet. Phasellus sapien ut mattis ipsum viverra enim ut
          egestas at. Nunc ornare sit in.</p>
      </ion-col>

      
      <ion-col size="12">
        <h1 class="section-title">Specialty to Add</h1>
        <ion-item lines="none" class="field relative-item">
          <ion-select  placeholder="select" toggleIcon="" formControlName="specialty" (ionChange)="handelSpecialty($event)">
            <ion-select-option *ngFor="let item of speciality_list" [value]="item.label">{{item.label}}</ion-select-option>
          </ion-select>
          <ion-icon name="caret-down-outline" class="icon-right"></ion-icon>
        </ion-item>
          <p class="err"
            *ngIf="!licensureAndCredentialsForm.get('specialty')?.value && !isSubmit">
            <ion-icon name="information-circle-outline"></ion-icon>required
          </p>
      </ion-col>

      <ion-col size="12" *ngIf="ifSpecialtyIsOther">
        <ion-item lines="none" class="field">
          <ion-input placeholder="Enter Specialty" formControlName="custome_Speciality"></ion-input>
        </ion-item>
        <p class="err"
            *ngIf="!licensureAndCredentialsForm.get('custome_Speciality')?.value && requiredCustomeSpecialty">
            <ion-icon name="information-circle-outline"></ion-icon>required
          </p>
      </ion-col>
     

      <ion-col size="12">
        <p class="filed-label">Upload Certification & Documents</p>
        <div class="upload-box">
          <div class="col-grid">
            <div class="upload-doc">
              <!-- <img [src]="frontLicanceImage" /> -->
              <!-- <ion-icon  class="close" name="close-circle" ></ion-icon> -->
              <ion-text (click)="presentActionSheet()">
                <img *ngIf="fileUrl" [src]="fileUrl" />
                <ion-icon name="camera"></ion-icon>
                <p>Front</p>
              </ion-text>
              <input type="file" (change)="uploadDocFile($event)" accept="image/*" id="document_file" style="display: none;"/>
              <!-- <input type="file"  /> -->
            </div>
          </div>
          </div>
          <p class="err"
            *ngIf="!licensureAndCredentialsForm.get('documents')?.value && !isSubmit">
            <ion-icon name="information-circle-outline"></ion-icon>required
          </p>
       </ion-col>

       <ion-col size="12">
        <ion-item lines="none" class="field">
          <ion-textarea rows="7" placeholder="Enter Messagae" formControlName="message"></ion-textarea>
        </ion-item>
        <p class="err"
            *ngIf="!licensureAndCredentialsForm.get('message')?.value && !isSubmit">
            <ion-icon name="information-circle-outline"></ion-icon>required
          </p>
      </ion-col>

      <ion-col size="12"  size-md="6" offset-md="3">
        <ion-button expand="block" type="submit" class="primary-btn">Sumbit</ion-button>
      </ion-col>
    </form>
    </ion-row>
  </ion-grid>
</ion-content>


<!-- <ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="primary-btn">Sumbit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->