<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Add licensure and credentials</ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button id="licensure-session-trigger">
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <!-- <ion-popover trigger="licensure-session-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">
        <p class="text-white help-text" [innerHTML]="helptext.content"></p>
      </ion-content>
    </ng-template>
  </ion-popover> -->
</ion-header>

<ion-content>
  <form [formGroup]="licensureAndCredentialsForm" (ngSubmit)="onSubmit(licensureAndCredentialsForm.value)">
    <ion-grid class="ion-padding" [fixed]="true">
      <ion-row>

        <ion-col size="12" *ngIf="is_content" class="ion-text-center">
          <ion-spinner color="light"></ion-spinner>
        </ion-col>

        <ion-col size="12">
          <h1 class="page-title mb-20">Add Licensure & Credentials</h1>
          <p class="para" [innerHTML]="licensureCredentialsData"></p>
        </ion-col>

        <ion-col size="12">
          <h1 class="section-title mb-10 font-13">Specialty to Add</h1>
          <!-- <ion-item lines="none" class="field relative-item">
            <ion-select placeholder="Select Speciality" toggleIcon="" formControlName="speciality_id">
              <ion-select-option *ngFor="let item of specialityData"
                [value]="item.id">{{item.title}}</ion-select-option>
            </ion-select>
            <ion-icon name="caret-down-outline" class="icon-right"></ion-icon>
          </ion-item> -->

          <ion-item lines="none" class="field">
            <ion-input placeholder="Enter Speciality" formControlName="speciality" [clearInput]="true"
              appCapitalizeFirst></ion-input>
          </ion-item>
          
          <ng-container *ngFor="let validation of validation_messages.speciality">
            <p class="err"
              *ngIf="licensureAndCredentialsForm.get('speciality')?.hasError(validation.type) && (licensureAndCredentialsForm.get('speciality')?.dirty || licensureAndCredentialsForm.get('speciality')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
            </p>
          </ng-container>
        </ion-col>

        <ion-col size="12">
          <h1 class="section-title font-13 mb-10">Upload Document of Massage Certification</h1>

          <div class="upload-box">
            <div class="col-grid">
              <div class="upload-doc">
                <ion-icon *ngIf="document_file" class="close" name="close-circle"
                  (click)="deleteCertificate()"></ion-icon>

                <img [src]="document_file"
                  *ngIf="document_file && (file_extension =='jpeg' || file_extension =='png' || file_extension == 'jpg') " />

                <img src="/assets/word.svg" class="doc"
                  *ngIf="document_file && (file_extension =='docx' || file_extension =='doc') " />

                <img src="/assets/pdf.svg" class="doc" *ngIf="document_file && file_extension == 'pdf'" />

                <ion-text (click)="presentActionSheet()" *ngIf="!document_file">
                  <ion-icon name="camera"></ion-icon>
                  <p>Document</p>
                </ion-text>
              </div>
            </div>
          </div>

        </ion-col>
        <ion-col size="12">
          <h1 class="section-title font-13 mb-10">Message</h1>
          <ion-item lines="none" class="field rounded-25">
            <ion-textarea rows="7" placeholder="Enter message here..." formControlName="message"></ion-textarea>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.message">
            <p class="err"
              *ngIf="licensureAndCredentialsForm.get('message')?.hasError(validation.type) && (licensureAndCredentialsForm.get('message')?.dirty || licensureAndCredentialsForm.get('message')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
            </p>
          </ng-container>
        </ion-col>
        <ion-col size="12" size-md="6" offset-md="3">
          <ion-button expand="block" type="submit" class="primary-btn"
            [disabled]="licensureAndCredentialsForm.invalid">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>