<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="forgotPassword" (ngSubmit)="sendOtp(forgotPassword.value)">
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <h1 class="page-title mb-30">Forgot Password</h1>
         <p class="title-helper mb-20" [ngClass]="{'msg-error': is_error == false }">{{msg}}</p>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="field">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Enter Email Address" formControlName="email"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.email">
          <p class="err"
            *ngIf="forgotPassword.get('email')?.hasError(validation.type) && (forgotPassword.get('email')?.dirty || forgotPassword.get('email')?.touched)">
            <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
          </p>
        </ng-container>
      </ion-col>

    
    </ion-row>
    <ion-row  class="mt-15">
      <ion-col size="12" size-md="6">
        <ion-button type="submit" expand="block" class="primary-btn" [disabled]="!forgotPassword.valid">Submit</ion-button>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-button type="submit" expand="block" class="primary-btn" [routerLink]="['/login']">Exit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>
