.bg-card{
    
    color: var(--ion-color-white);
    text-align: center;

    @media screen and (max-width:767px) {
        padding-top: 100px;
        padding-bottom: 100px;
        min-height: 577px;
    }
    @media screen and (max-width:390px) {
        padding-top: 80px;
        padding-bottom: 80px;
        min-height: 577px;
    }
}

.bg-card{
    padding-top: 70px;
    padding-bottom: 70px;
  
    }

.mb-100{
    margin-bottom: 40px;
}
.contentContainer{
    margin-bottom: 40px;
    width: 100%;
    max-width: 258px;
    margin-left: auto;
    margin-right: auto;
}
ion-content{
    --background:transparent !important;
    background: url(../../../assets/images/backgrounds/bg-new-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}