.question{

    font-size: 25px;
}

h5{

    color: white;
    font-size: 15px;
}

.chnge{

    --background: none;
}

.para{

    color: white;
}

.detail{

--color:white;
--color-checked:white;
}

.option{

    --background:#361550;
    color: white;
    width: 390px;
    border: 0.5px solid white;
    border-radius: 25px;

  
}

.stair{

    color: white;
}

ion-title{

    color: white;
} 

.table{

    --color-checked:white;
}