.list-style {
  background: transparent;

  ion-item {
    --background: rgb(0, 0, 38, 0.4);
    --background-hover: rgb(0, 0, 38, 0.4);
    --background-focus: rgb(0, 0, 38, 0.4);
    --background-activated: rgb(0, 0, 38, 0.4);
    // box-shadow: 0px 0px 10px 0px rgba(7, 7, 7, 0.10);
    --border-width: 1px;
    --border-style: solid;
    --border-color: var(--border-rgb);
    --border-radius: 15px;

    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --detail-icon-opacity: 1;
    --detail-icon-font-size: 28px;
    --inner-padding-end: 0px;
    --detail-icon-color: var(--ion-color-white);
    margin-bottom: 15px;

    .icon-box {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #691f5f;
      border-radius: 10px;
      color: #fff;
      height: 38px;
      width: 38px;

      ion-icon {
        font-size: 22px;
      }
    }

    ion-avatar {
      height: 38px;
      width: 38px;
    }

    ion-thumbnail {
      height: 68px;
      width: 68px;
      border: 1px solid var(--ultra-light);
    }

    ion-label {
      h3 {
        color: var(--ion-color-white);

        font-family: M-Medium !important;
        font-size: 13px;
        font-style: normal;
        line-height: normal;
      }
    }

    ion-buttons {
      margin-right: 0px;

      .arrow {
        font-size: 20px;
        margin-right: 15px;
      }

      ion-button {
        --background: var(--ion-color-success);
        --background-activated: var(--ion-color-success);
        --border-radius: 7px;
        --border-style: none;
        --border-width: 0px;
        --box-shadow: none;
        --color: var(--ion-color-text-white);
        --color-activated: var(--ion-color-text-white);
        font-size: 14px;
        font-family: Display-Regular !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        text-transform: capitalize;
        height: 34px;

        ion-icon {
          font-size: 17px;
          margin-right: 7px;
        }
      }
    }
  }
}

.notification {
  // font-size: 21px;
  color: white;
}
.modal-center {
  --backdrop-opacity: 0.9;

  ion-content {
    --background: transparent !important;
    background: transparent !important;

    .flex-grid-modal {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 40px;
      color: #fff;
      text-align: center;
      @media screen and (min-width:768px){
        height: auto;
    }
      ion-icon {
        font-size: 56px;
      }

      h1 {
        font-size: 22px;
        font-family: M-Bold !important;
        color: var(--ion-color-white) !important;
      }

      p {
        font-size: 16px;
        font-family: M-Regular !important;
        color: var(--ion-color-light) !important;
      }
    }
  }

  &::part(content) {
    background: transparent;
  }
}

.primary-btn-outline {
  --background: transparent !important;
  --background-activated: transparent !important;
  --background-hover: transparent !important;
  --background-focused: transparent !important;
  --color: var(--ion-color-white) !important;
  --color-hover: var(--ion-color-white) !important;
  --color-activated: var(--ion-color-white) !important;
  --color-focused: var(--ion-color-white) !important;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #9e9eac;
  height: 54px;
  font-size: 18px;
  --border-radius: 30px;
  text-transform: uppercase;
}

.msg_count_badge {
  position: absolute;
  right: 24px;
}


ion-header{
  ion-buttons{
    ion-button{
      position: relative;
      ion-text{
        height: 10px;
        width: 10px;
        min-width: 10px;
      border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        background: gold;
      }
    }
  }
}

.logout{
  cursor: pointer;
}