<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>More</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notifications">
        <ion-icon class="notification" name="notifications"></ion-icon>
        <ion-text color="danger" *ngIf="totalNotification_count > 0"></ion-text>
        <!-- {{totalNotification_count > 9 ? '9+'
        : totalNotification_count}} -->
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <ion-list class="list-style ion-padding-top">
          <!-- <ion-item lines="none" detail="true" routerLink="/tabs/tab1">
            <ion-text class="icon-box" slot="start">
              <ion-icon name="Home"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>Home</h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none" detail="true" routerLink="/notifications">
            <ion-text class="icon-box" slot="start">
              <ion-icon name="notifications"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>Notifications</h3>
            </ion-label>
          </ion-item> -->
          <ion-item lines="none" detail="true" routerLink="/profile">
            <ion-text class="icon-box" slot="start">
              <ion-icon name="person-circle"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>My Profile</h3>
            </ion-label>
          </ion-item>

          <!-- <ion-item lines="none" detail="true" routerLink="/messages">
            <ion-badge color="success" class="msg_count_badge" *ngIf="unreadchat">{{unreadchat}}</ion-badge>
            <ion-text class="icon-box" slot="start">
              <ion-icon name="chatbubbles"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>Messages</h3>
            </ion-label>
          </ion-item> -->

          <ion-item lines="none" detail="true" routerLink="/payment-information">
            <ion-text class="icon-box" slot="start">
              <ion-icon name="folder"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>Payment Information</h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none" detail="true" routerLink="/contact-us">
            <ion-text class="icon-box" slot="start">
              <ion-icon name="chatbox"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>Contact Us</h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none" detail="true" routerLink="/faq">
            <ion-text class="icon-box" slot="start">
              <ion-icon name="help-circle"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>F.A.Q.</h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none" detail="true" routerLink="/privacy-policy">
            <ion-text class="icon-box" slot="start">
              <ion-icon name="document-text"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>Privacy Policy</h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none" detail="true" routerLink="/terms-conditions">
            <ion-text class="icon-box" slot="start">
              <ion-icon name="document-text"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>Terms of Service</h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none" detail="true" href="tel:911" >
          <!-- <ion-item lines="none" detail="true" routerLink="/emergency-contanct"> -->
            <ion-text class="icon-box" slot="start">
              <ion-icon name="call-outline"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>Emergency Contact</h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none" detail="true" (click)="logOutModal(true)" class="logout">
            <ion-text class="icon-box" slot="start">
              <ion-icon name="log-out"></ion-icon>
            </ion-text>
            <ion-label>
              <h3>Logout</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="isModalOpen" class="modal-center" [backdropDismiss]="false">
    <ng-template>
      <ion-content>
        <ion-grid class="flex-grid-modal">
          <ion-row>
            <ion-col size="12">
              <!-- <ion-icon src="assets/icons/logout.svg"></ion-icon> -->
              <h1>Thank You</h1>
              <p>Are you sure you want to logout?</p>
              <ion-button expand="block" class="primary-btn" (click)="logOut()">Logout</ion-button>
              <ion-col size="12">
                <ion-button class="primary-btn-outline" expand="block" (click)="logOutModal(false)">Cancel</ion-button>
              </ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>