.modal-center {
    --backdrop-opacity: 0.9;

    ion-content {
        --background: transparent !important;
        background: transparent !important;

        .flex-grid-modal {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 40px;
            color: #fff;
            text-align: center;
            @media screen and (min-width:768px) {
                height: auto;
            }
            ion-icon {

                font-size: 56px;
            }

            h1 {
                font-size: 22px;
                font-family: M-Bold !important;
                color: var(--ion-color-white) !important;
            }

            p {
                font-size: 16px;
                font-family: M-Regular !important;
                color: var(--ion-color-light) !important;
            }
        }
    }

    &::part(content) {
        background: transparent;
    }
}

