<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>New Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="12">
          <h1 class="page-title mb-30">New Password</h1>
          <p class="title-helper mb-20">Success! Please enter your new password below.</p>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input [type]="passwordType1" placeholder="Enter Password" formControlName="password"></ion-input>
            <ion-icon [name]="passwordIcon1" (click)="hideShowPass1()" slot="end" class="eye"></ion-icon>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.password">
            <span class="err"
              *ngIf="resetForm.controls['password'].hasError(validation.type) && (resetForm.controls['password'].dirty || resetForm.controls['password'].touched)">
              <ion-icon class="erricon" name="information-circle-outline"></ion-icon>{{ validation.message }}
            </span>
          </ng-container>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input [type]="passwordType2" placeholder="Confirm Password"
              formControlName="confirmPassword"></ion-input>
            <ion-icon [name]="passwordIcon2" (click)="hideShowPass2()" slot="end" class="eye"></ion-icon>
          </ion-item>
          <span *ngIf="resetForm.hasError('passwordNotMatch') && resetForm.controls['confirmPassword'].dirty"
            class="err">
            <ion-icon class="erricon" name="information-circle-outline"></ion-icon>Password Not Match</span>

        </ion-col>

        <ion-col size="12" class="mt-15">
          <ion-button expand="block" class="primary-btn" type="submit"
            [disabled]="resetForm.invalid">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-modal [isOpen]="isModalOpen" class="modal-center" [backdropDismiss]="false">
    <ng-template>
      <ion-content>
        <ion-grid class="flex-grid-modal">
          <ion-row>
            <ion-col size="12">
              <ion-icon src="assets/icons/pop-up.svg"></ion-icon>
              <h1>Password Changed</h1>
              <p>{{msg}}</p>
              <ion-button expand="block" class="primary-btn" (click)="goToLogin()">Login</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>