<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="cardForm" (ngSubmit)="onSubmit(cardForm.value)">
    <ion-grid class="ion-padding" [fixed]="true">
      <ion-row>

        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon slot="start" name="person-circle"></ion-icon>
            <ion-input placeholder="Card Holder Name" formControlName="card_holder_name"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.card_holder_name">
            <p class="err"
              *ngIf="cardForm.get('card_holder_name')?.hasError(validation.type) && (cardForm.get('card_holder_name')?.dirty || cardForm.get('card_holder_name')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
            </p>
          </ng-container>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon slot="start" name="card"></ion-icon>
            <ion-input placeholder="Card Number" formControlName="card_number" readonly></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon slot="start" name="calendar-clear"></ion-icon>
            <ion-input placeholder="Expiration Date (MM/YYYY)" (ionInput)="formatDate($event)"
              formControlName="expiry_date" maxlength="7" [(ngModel)]="expirationDate"></ion-input>
          </ion-item>

          <ng-container *ngFor="let validation of validation_messages.expiry_date">
            <p class="err"
              *ngIf="cardForm.get('expiry_date')?.hasError(validation.type) && (cardForm.get('expiry_date')?.dirty || cardForm.get('expiry_date')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
            </p>
          </ng-container>
        </ion-col>

        <ion-col size="12"  size-md="6" offset-md="3">
          <ion-button expand="block" class="primary-btn" type="submit" [disabled]="!cardForm.valid">Submit</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </form>

</ion-content>