<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Location</ion-title>
    <!-- <ion-icon slot="end" class="question" name="help-circle"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addNewLocation" (ngSubmit)="onSubmit()">
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="field">
          <ion-icon name="location" slot="start"></ion-icon>
          <ion-input type="text" formControlName="location_name" placeholder="Location Name"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none" class="field">
          <ion-icon name="location" slot="start"></ion-icon>
          <ion-input type="text" formControlName="location_address" placeholder="Location Address"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.location_address">
          <p class="err"
            *ngIf="addNewLocation.get('location_address')?.hasError(validation.type) && (addNewLocation.get('location_address')?.dirty || addNewLocation.get('location_address')?.touched)">
            <ion-icon name="information-circle-outline"></ion-icon>{{validation.message}}
          </p>
        </ng-container>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none" class="field">
          <ion-icon name="location" slot="start"></ion-icon>
          <ion-input type="text" formControlName="location_type" placeholder="Apartment or Room #"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none" class="field">
          <ion-textarea rows="7" formControlName="parking_directions" placeholder="Parking Directions (meter, street, ramp, fees, etc.)"></ion-textarea>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <p class="filed-label mb-15">Table Details</p>
        <ion-radio-group value="strawberries" mode="md" formControlName="table">
          <ion-radio labelPlacement="end" value="I have my own table">I have my own table</ion-radio><br />
          <ion-radio labelPlacement="end" value="Therapist Provides">Therapist provides</ion-radio><br />
        </ion-radio-group>
      </ion-col>

      <ion-col size="12">
        <p class="filed-label mb-15">Sheet Preferences</p>
        <ion-radio-group value="strawberries" mode="md" formControlName="sheet">
          <ion-radio labelPlacement="end" value="I have my own sheets">I have my own sheets</ion-radio><br />
          <ion-radio labelPlacement="end" value="Therapist Provides">Therapist Provides</ion-radio><br />
        </ion-radio-group>
      </ion-col>

      <ion-col size="12">
        <p class="filed-label">Stair Details</p>
        <ion-item lines="none" class="field">
          <ion-select placeholder="Select an Option" formControlName="stair">
            <ion-select-option value="No Stairs">No Stairs</ion-select-option>
            <ion-select-option value="1 Flight">1 Flight</ion-select-option>
            <ion-select-option value="2 Flight">2 Flight</ion-select-option>
            <ion-select-option value="3 Flight">3 Flight</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <p class="filed-label">Pet Details</p>
        <ion-item lines="none" class="field">
          <ion-select  placeholder="Select an Option" formControlName="pet">
            <ion-select-option value="None">None</ion-select-option>
            <ion-select-option value="Dogs">Dogs</ion-select-option>
            <ion-select-option value="Cats">Cats</ion-select-option>
            <ion-select-option value="Both">Both</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12"  size-md="6" offset-md="3">
        <ion-button expand="block" type="submit" class="primary-btn">SAVE</ion-button>
      </ion-col>
 </ion-row>
  </ion-grid>
</form>
</ion-content>