<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Book Now</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button id="bookdate-help-trigger" *ngIf="helptext">
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <!-- <ion-popover trigger="bookdate-help-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">
        <p class="text-white help-text" [innerHTML]="helptext.content"></p>
      </ion-content>
    </ng-template>
  </ion-popover> -->

</ion-header>

<ion-content swipeEnabled="false">
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <h1 class="page-title">When would you like to book?</h1>
      </ion-col>

      <ion-col size="12">
        <p class="flex-title mt-30">{{ selectedDate ? (selectedDate | date: 'MMMM') : (currentDate | date: 'MMMM') }} 
          <ion-buttons>
            <!-- <ion-button id="open-custom-dialog" class="view-all">View Calendar</ion-button> -->
            <ion-button class="view-all" (click)="openCalendar(true)">View Calendar</ion-button>
          </ion-buttons>
        </p>
        <p *ngIf="isToday(currentDate)" class="today">Today</p>
        <p *ngIf="isTomorrow(currentDate)" class="today">Tomorrow</p>
        <div class="circle">
          <div *ngFor="let date of dates; let i = index" class="item-circle"
            [ngClass]="{ 'active': i === clickedIndex }" (click)="selectDate(date, i)">
            <ion-text class="box" [class.selected]="dateSelected === date.date">{{ date.date }}</ion-text>
            <ion-text class="day-name">{{ date.day }}</ion-text>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="mb-30">
        <p class="flex-title mt-30 mb-10">Select Time Frame</p>
        <p class="helper-text mb-30" *ngIf="error_msg">{{error_msg}}</p>
        <!-- <p class="helper-text mb-30">(Our minimum session is {{this.durationInMinutes}} minutes. Kindly select a duration of {{this.durationInMinutes}} minutes or more)</p> -->
        <ion-range class="bar pin-style-custom" aria-label="Range with pin" [pin]="true" [min]="480" [max]="1439" [step]="15"
          [dualKnobs]="true" [(ngModel)]="timeRange" (ionChange)="onIonChange($event)" [pinFormatter]="pinFormatter">

          <!-- <ion-text slot="start" >{{getTimeFromMinutes(timeRange.lower)}}</ion-text>
        <ion-text slot="end" >{{getTimeFromMinutes(timeRange.upper)}}</ion-text> -->
        </ion-range>

        <!-- <ion-row>
          <ion-col size="12">
            <div class="flextime">
              <ion-text>
                Start By : 8:00 AM
              </ion-text>
              <ion-text>
                End By : 12:00 AM
              </ion-text>
            </div>
          </ion-col>

        </ion-row> -->

      </ion-col>
      <ion-col size="12" size-md="6" offset-md="3" class="mt-30">
        <ion-button expand="block" class="primary-btn" type="submit" (click)="goToNext()" [disabled]="is_loader">
          <ion-spinner *ngIf="is_loader" name="circles"></ion-spinner>
          <span *ngIf="!is_loader">NEXT</span>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- modal calendar HTML start trigger="open-custom-dialog" -->
  <ion-modal id="example-modal" #modal  [isOpen]="is_modal" [backdropDismiss]="false" (willDismiss)="is_modal = false">
    <ng-template>
      <div class="wrapper">
        <ion-datetime [min]="minDate" presentation="date" [showDefaultButtons]="true"
          (ionChange)="onDateSelected($event)" color="light" [highlightedDates]="highlightedDates"></ion-datetime>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>