.circle {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  white-space: nowrap;

  .active {
    .box {
      background: var(--ion-color-secondary) !important;
      font-family: M-Bold !important;
      color: var(--ion-color-white) !important;
    }

    .day-name {
      color: var(--ion-color-white) !important;
      font-family: M-Bold !important;
    }
  }

  .item-circle {
    width: 75px;
    min-width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
   

    .day-name {
      color: var(--ion-color-medium);
      font-size: 13px;
      text-transform: capitalize;
      font-family: M-Regular;
    }

    .box {
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #6e6e70;
      border-radius: 50%;
      background: #000026;
      min-width: 60px;
      color: #9E9EAC;
      font-size: 14px;
      font-family: M-Regular;
      cursor: pointer;
    }

  }
}

.flex-title {
  font-size: 16px;
  color: var(--ion-color-white);
  font-family: M-Regular !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 15px;
  ion-text {
    font-size: 13px !important;
    font-weight: 700 !important;
  }
}

.today {
  font-size: 14px;
  font-family: M-Regular !important;
  margin-bottom: 15px;
  color: var(--ion-color-light) !important;
}

.bar {
  --bar-background: rgba(255, 255, 255, 0.4);
  // --bar-background-active:#2dd55b;
  --bar-background-active: #ffc000;
  // --pin-color:white

}


ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  // ion-datetime{
  //     background: white;
  // }
}

.head-1 {
  color: white;
}


.flextime {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-text {
    font-size: 13px;
    font-family: M-Regular !important;
    color: #fff;
  }
}


ion-range {
  --bar-background: rgba(255, 255, 255, 0.4);
  /* Background color for the range bar */
  --bar-background-active: #ffc000;
  /* Active background color for the range bar */
  --knob-background: #ffffff;
  /* Knob background color (white) */
  // --knob-handle-color: #000000; /* Knob handle color (black) */
  --pin-color: #ffffff;
  /* Pin text color set to white */
  --knob-size: 15px;
  width: calc(100% - 32px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

ion-range::part(pin) {
  // background-color: var(--pin-background, #000000); /* Pin background color */
  color: var(--pin-color) !important;
  /* Apply the --pin-color variable to the pin text */
}

//   ion-range::part(tick) {
//     background: #a2d2ff;
//   }

//   ion-range::part(tick-active) {
//     background: #bde0fe;
//   }

ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #680850;
  color: #fff;
  border-radius: 50%;
  transform: scale(1.01);
  top: -42px;
  min-width: 45px;
  height: 45px;
  transition: transform 120ms ease, background 120ms ease;
  border: 1px solid #fff;
  font-size: 9px;
  font-weight: bold;
}

ion-range::part(pin)::before {
  content: none;
}

//   ion-range::part(knob) {
//     background: #ffc8dd;
//   }

//   ion-range::part(bar) {
//     background: #a2d2ff;
//   }

//   ion-range::part(bar-active) {
//     background: #bde0fe;
//   }

.helper-text {
  font-size: 12px;
  color: gold;
  margin-top: -5px;
}

.view-all{
  font-size: 13px !important;
  font-weight: 700 !important;
  --color:var(--ion-color-white);
}