<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <h2>Terms & Conditions</h2>
      </ion-col>
      <div class="spinner-container" *ngIf="showSpinner">
        <ion-spinner color="light"></ion-spinner>
      </div>

      <ion-col class="padding" size="12">
        <p class="para-1" [innerHTML]="termsData?.content"></p>
      </ion-col>
      <ion-col size="12" *ngIf="!termsData?.content && !showSpinner">
        <p class="not-found-message">Not Found.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>