<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Background Check</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="editBackgroundCheckForm" (ngSubmit)="onSubmit(editBackgroundCheckForm.value)">
    <ion-grid class="ion-padding" [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <h1 class="page-title mb-20">Edit Background Check</h1>
        </ion-col>
        <ion-col size="12">
          <p class="filed-label">Upload Drivers License Picture<span class="required">*</span></p>
          <div class="upload-box">
            <div class="col-grid">
              <div class="upload-doc">
                <ion-icon *ngIf="frontLicanceImage" class="close" name="close-circle"
                  (click)="removeImage('license_front')"></ion-icon>
                <img [src]="frontLicanceImage"
                  *ngIf="frontLicanceImage && (file_extension_front == 'jpeg' || file_extension_front == 'png' || file_extension_front == 'jpg')" />
                <img src="/assets/word.svg" class="doc"
                  *ngIf="frontLicanceImage && (file_extension_front == 'docx' || file_extension_front == 'doc')" />

                <img src="/assets/pdf.svg" class="doc" *ngIf="frontLicanceImage && file_extension_front == 'pdf'" />
                <ion-text (click)="presentActionSheet('license_front')">
                  <ion-icon *ngIf="!frontLicanceImage" name="camera"></ion-icon>
                  <p *ngIf="!frontLicanceImage">Front</p>
                </ion-text>
              </div>
            </div>

            <div class="col-grid">
              <div class="upload-doc">
                <ion-icon *ngIf="backLicanceImage" class="close" name="close-circle"
                  (click)="removeImage('license_back')"></ion-icon>
                <img [src]="backLicanceImage"
                  *ngIf="backLicanceImage && (file_extension_back == 'jpeg' || file_extension_back == 'png' || file_extension_back == 'jpg')" />
                <img src="/assets/word.svg" class="doc"
                  *ngIf="backLicanceImage && (file_extension_back == 'docx' || file_extension_back == 'doc')" />

                <img src="/assets/pdf.svg" class="doc" *ngIf="backLicanceImage && file_extension_back == 'pdf'" />
                <ion-text (click)="presentActionSheet('license_back')">
                  <ion-icon *ngIf="!backLicanceImage" name="camera"></ion-icon>
                  <p *ngIf="!backLicanceImage">Back</p>
                </ion-text>
              </div>
            </div>
          </div>
        </ion-col>


        <ion-col size="12">
          <p class="filed-label">Social Security Number<span class="required">*</span></p>
          <ion-item lines="none" class="field mb-20">
            <ion-icon name="shield" slot="start"></ion-icon>
            <ion-input [type]="passwordType" placeholder="XXX-XXX-XXX" maxlength="9"
              formControlName="SocialSecurityNumber" inputmode="numeric" pattern="[0-9]*"></ion-input>
            <ion-icon [name]="passwordIcon" (click)="hideShowPassword()" slot="end" class="eye"></ion-icon>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.SocialSecurityNumber">
            <p class="err" *ngIf="editBackgroundCheckForm.get('SocialSecurityNumber')?.hasError(validation.type) && 
                     (editBackgroundCheckForm.get('SocialSecurityNumber')?.dirty || 
                      editBackgroundCheckForm.get('SocialSecurityNumber')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
            </p>
          </ng-container>

        </ion-col>

        <ion-col size="12" size-md="4" >
          <p class="filed-label">Upload Document of Massage Certification<span class="required">*</span></p>
          <div class="upload-box">
            <div class="col-grid custom-width">
              <div class="upload-doc">
                <ion-icon *ngIf="massageCertification" class="close" name="close-circle"
                  (click)="removeImage('massage_certification')"></ion-icon>
                <img [src]="massageCertification"
                  *ngIf="massageCertification && (file_extension_certification == 'jpeg' || file_extension_certification == 'png' || file_extension_certification == 'jpg')" />
                <img src="/assets/word.svg" class="doc"
                  *ngIf="massageCertification && (file_extension_certification == 'docx' || file_extension_certification == 'doc')" />

                <img src="/assets/pdf.svg" class="doc"
                  *ngIf="massageCertification && file_extension_certification == 'pdf'" />
                <ion-text (click)="presentActionSheet('massage_certification')">
                  <ion-icon *ngIf="!massageCertification" name="camera"></ion-icon>
                  <p *ngIf="!massageCertification">Document</p>
                </ion-text>

              </div>
            </div>
          </div>
        </ion-col>

        <ion-col size="12" size-md="4">
          <p class="filed-label">Upload Proof of Massage Insurance<span class="required">*</span></p>
          <div class="upload-box">
            <div class="col-grid custom-width">
              <div class="upload-doc">

                <ion-icon *ngIf="massageInsurance" class="close" name="close-circle"
                  (click)="removeImage('massage_insurance')"></ion-icon>
                <img [src]="massageInsurance"
                  *ngIf="massageInsurance && (file_extension_insurance == 'jpeg' || file_extension_insurance == 'png' || file_extension_insurance == 'jpg')" />
                <img src="/assets/word.svg" class="doc"
                  *ngIf="massageInsurance && (file_extension_insurance == 'docx' || file_extension_insurance == 'doc')" />

                <img src="/assets/pdf.svg" class="doc" *ngIf="massageInsurance && file_extension_insurance == 'pdf'" />
                <ion-text (click)="presentActionSheet('massage_insurance')">
                  <ion-icon *ngIf="!massageInsurance" name="camera"></ion-icon>
                  <p *ngIf="!massageInsurance">Document</p>

                </ion-text>

              </div>
            </div>
          </div>
        </ion-col>

        <ion-col size="12">
          <p class="filed-label">Do you agree to having a background check?<span class="required">*</span></p>
          <ion-radio-group value="strawberries" mode="md" formControlName="BackgroundCheck">
            <ion-radio labelPlacement="end" value="yes">Yes</ion-radio><br />
            <ion-radio labelPlacement="end" value="no">No</ion-radio><br />
          </ion-radio-group>
        </ion-col>
        <ion-col size="12" size-md="6" offset-md="3">
          <ion-button type="submit" expand="block" class="primary-btn mt-20"
            [disabled]="editBackgroundCheckForm.invalid">SUBMIT</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>