<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon src="assets/icons/edit.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>

      <ion-col size="12" class="ion-text-center">
        <ion-avatar class="profile-img">
          <img alt="" src="assets/images/People/28.png" />
        </ion-avatar>
        <h4 class="user-name">Kayla Smith</h4>
        <div class="rating">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
         <ion-text> (35)</ion-text>
        </div>
      </ion-col>

      <ion-col size="12">
        <h3 class="section-title">About Me</h3>
        <ion-card>
          <p class="text-light">Lorem ipsum dolor sit amet consectetur. Feugiat elementum maecenas ac purus duis volutpat vitae etiam. Velit auctor netus suspendisse leo tortor. Tortor fringilla feugiat tortor nisi. Phasellus lorem quis amet pharetra quisque a turpis. Morbi augue urna arcu placerat id. Suscipit cras ultricies ipsum diam.</p>
        </ion-card>
       
      </ion-col>
   
      <ion-col size="12">
        <h3 class="section-title mt-15">Specialties</h3>
        <ion-card class="mb-15">
          <p class="text-white">Massage Service Name</p>
        </ion-card>
        <ion-card class="mb-15">
          <p class="text-white">Massage Service Name</p>
        </ion-card>
        <ion-card class="mb-15">
          <p class="text-white">Massage Service Name</p>
        </ion-card>
      </ion-col>
      
      <ion-col size="12">
        <ion-button expand="block" class="primary-btn">Add Licensure & Credentials</ion-button>
      </ion-col>

      <ion-col size="12">
        <h3 class="section-title mt-15">Equipment</h3>
        <ion-card class="mb-15">
          <p class="text-white">Massage Service Name</p>
        </ion-card>
        <ion-card class="mb-15">
          <p class="text-white">Massage Service Name</p>
        </ion-card>
        <ion-card class="mb-15">
          <p class="text-white">Massage Service Name</p>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <h3 class="section-title">Equipment</h3>
        <div class="user-thumbnail">
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
        </div>

      </ion-col>

      <ion-col size="12">
        <ion-list class="list-style">
          <ion-list-header class="ion-padding-vertical ion-no-padding">
            <ion-label class="ion-no-margin">Completed Appointments</ion-label>
            <ion-button class="ion-no-margin">View All</ion-button>
          </ion-list-header>
          <ion-item lines="none" detail="false">
            <ion-label>
              <h3>1/28</h3>
              <p class="para"> $123.45</p>
            </ion-label>
            <ion-text slot="end" class="price-text">
             0046
            </ion-text>
          </ion-item>
          <ion-item lines="none" detail="false">
            <ion-label>
              <h3>1/28</h3>
              <p class="para"> $123.45</p>
            </ion-label>
            <ion-text slot="end" class="price-text">
             0046
            </ion-text>
          </ion-item>
          <ion-item lines="none" detail="false">
            <ion-label>
              <h3>1/28</h3>
              <p class="para"> $123.45</p>
            </ion-label>
            <ion-text slot="end" class="price-text">
             0046
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
 
  </ion-grid>
</ion-content>