<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Bank Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newBank"  (ngSubmit)="addNewBank(newBank.value)">
    <ion-grid class="ion-padding"  [fixed]="true">
      <ion-row>
       
        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon slot="start" name="person-circle"></ion-icon>
            <ion-input type="text" placeholder="Enter Account Holder Name"
              formControlName="account_holder_name" appCapitalizeFirst></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.account_holder_name">
            <p class="err"
              *ngIf="newBank.get('account_holder_name')?.hasError(validation.type) && (newBank.get('account_holder_name')?.dirty || newBank.get('account_holder_name')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{validation.message}}
            </p>
          </ng-container>
        </ion-col>
     
        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon slot="start" name="keypad"></ion-icon>
            <ion-input type="tel" placeholder="Enter Account Number" formControlName="account_number" minlength="12"
              maxlength="12"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.account_number">
            <p class="err"
              *ngIf="newBank.get('account_number')?.hasError(validation.type) && (newBank.get('account_number')?.dirty || newBank.get('account_number')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{validation.message}}
            </p>
          </ng-container>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" class="field">
            <ion-icon slot="start" name="keypad"></ion-icon>
            <ion-input type="tel" placeholder="Enter Routing Number" formControlName="routing_number" minlength="9"
              maxlength="9"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.routing_number">
            <p class="err"
              *ngIf="newBank.get('routing_number')?.hasError(validation.type) && (newBank.get('routing_number')?.dirty || newBank.get('routing_number')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{validation.message}}
            </p>
          </ng-container>
        </ion-col>
        <ion-col size="12" size-md="6" offset-md="3">
          <ion-button expand="block" class="primary-btn" type="submit" [disabled]="!newBank.valid">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

 <!-- Success -->
 <button id="success-modal" style="display: none;">Card added successfully</button>
 <ion-modal trigger="success-modal" class="modal-center" [backdropDismiss]="false">
   <ng-template>
     <ion-content>
       <ion-grid class="flex-grid-modal">
         <ion-row>
           <ion-col size="12">
             <ion-icon name="checkmark-circle-outline"></ion-icon>
             <h1>Success</h1>
             <p>{{responseMessage}}</p>
             <ion-button expand="block" class="primary-btn" routerLink="/payment-information"
               (click)="dismissModal()">OK</ion-button>
               <!-- routerLink="/payment-information" -->
           </ion-col>
         </ion-row>
       </ion-grid>
     </ion-content>
   </ng-template>
 </ion-modal>
</ion-content>
