.search-item {
  --background: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary);
  --background-focused: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary);
  --border-radius: 30px;
  --border-color: var(--ion-color-white);
  --border-width: 1px;
  --border-style: solid;
  --padding-start: 0;

  ion-searchbar {
    padding-bottom: 0;
    padding-top: 0;
    --background: transparent;
    --border-radius: 0;
    --icon-color: var(--ion-color-white);
    --color: var(--ion-color-white);
  }
}
.no-found {
    color: gold;
    text-align: center;
  }
//   .price-text{
//     font-size: 14px;
//     color: var(--ion-color-white);
//     font-family: M-Regular !important;
//     text-align: right;
//     line-height: 1.5rem;
// }

// .flex-h3 {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

ion-list{
    ion-item{
        ion-label {
            h3 {
                color: var(--ion-color-white);
                font-family: M-Regular !important;
                font-size: 13px;
                font-style: normal;
                line-height: normal;
            }
            .flex-h3{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .detail-text{
            
            font-size: 13px;
            color: var(--ion-color-light);
            font-family: M-Regular !important;
            text-align: right;
            line-height: 1.5rem;
        }
        .price-text {
            color: var(--ion-color-white);
            font-family: M-Regular !important;
            font-size: 13px;
            font-style: normal;
            line-height: normal;
        }
    }
}
