<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!transactionHistory">Completed Appointments</ion-title>
    <ion-title *ngIf="transactionHistory">Transaction History</ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button id="transaction-session-trigger">
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <!-- <ion-popover trigger="transaction-session-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">
        <p class="text-white help-text" [innerHTML]="helptext.content"></p>
      </ion-content>
    </ng-template>
  </ion-popover> -->
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-padding"  [fixed]="true">
    <ion-row>
      <!-- <ion-col size="12" *ngIf="!transactionHistory">
        <h1 class="page-title mb-20">Completed Appointments</h1>
      </ion-col>
      <ion-col size="12" *ngIf="transactionHistory">
        <h1 class="page-title mb-20">Transaction History</h1>
      </ion-col> -->
      <ion-col size="12">

        <ion-list lines="none" class="list-style-1">
          <div class="ion-text-center ion-padding" *ngIf="showSpinner == 1">
            <ion-spinner color="light"></ion-spinner>
          </div>

          <ion-item lines="none" detail="false" *ngFor="let item of completedData" (click)="goToBooking(item)">
            <ion-label *ngIf="item?.payment_detail_therapist">
              <h3 class="flex-h3">${{ item.payment_detail_therapist[0]?.total_amount ? item.payment_detail_therapist[0]?.total_amount : 0  }} 
                <ion-text class="price-text">{{ item?.booking_date | date: 'dd/MM/yyyy' }}</ion-text>
              </h3>
              <p class="detail-text ion-text-right">
                {{ item.payment_detail_therapist[0]?.transaction_id}}
              </p>
            </ion-label>
          </ion-item>
          <div class="no-found" *ngIf="showSpinner == 2 && completedData?.length === 0">
            <p *ngIf="!transactionHistory">No Appointment Found.</p>
            <p *ngIf="transactionHistory">No Transaction Found.</p>
          </div>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="completedData.length < total_completed">
    <ion-infinite-scroll-content class="white-spinner"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>