

.logo{
    width: 100%;
    max-width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    // font-size: 18px;
    // font-family: M-Medium !important;
    color: var(--ion-color-white) !important;
}
.inner-content{
    font-size: 14px;
    font-family: M-Regular !important;
    color: var(--ion-color-white) !important;
}