.para-1{

    color: var(--ion-color-light);
    font-size: 14px;
    line-height: 1.4;
   
}



h2{
    color: var(--ion-color-white);
    font-size: 18px;
    font-family: M-Medium !important;
}
.not-found-message {
    text-align: center;
    color: red; 
    font-size: 15px;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
