<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Therapist Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/edit-profile">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>

      <ion-col size="12" class="ion-text-center">
        <ion-avatar class="profile-img">
          <img alt="" src="assets/images/People/28.png" />
        </ion-avatar>
        <h4 class="user-name">Kayla Smith</h4>
        <div class="rating">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
         <ion-text> (35)</ion-text>
        </div>
      </ion-col>

      <ion-col size="12">
        <h3 class="section-title">About Me</h3>
        <ion-card>
          <p class="text-light">Lorem ipsum dolor sit amet consectetur. Feugiat elementum maecenas ac purus duis volutpat vitae etiam. Velit auctor netus suspendisse leo tortor. Tortor fringilla feugiat tortor nisi. Phasellus lorem quis amet pharetra quisque a turpis. Morbi augue urna arcu placerat id. Suscipit cras ultricies ipsum diam.</p>
        </ion-card>
        <ion-button expand="block" class="primary-btn ion-margin-top">Book Now</ion-button>
      </ion-col>
   
      <ion-col size="12">
        <h3 class="section-title mt-15">Specialties</h3>
        <ion-card class="mb-15">
          <p class="text-white">Massage Service Name</p>
        </ion-card>
        <ion-card class="mb-15">
          <p class="text-white">Massage Service Name</p>
        </ion-card>
        <ion-card class="mb-15">
          <p class="text-white">Massage Service Name</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h3 class="section-title mt-15">Gallery</h3>
      </ion-col>
      <ion-col size="4">
        <div class="gallery-img">
          <img src="assets/images/People/1.png" alt="">
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="gallery-img">
          <img src="assets/images/People/1.png" alt="">
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="gallery-img">
          <img src="assets/images/People/1.png" alt="">
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="gallery-img">
          <img src="assets/images/People/1.png" alt="">
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="gallery-img">
          <img src="assets/images/People/1.png" alt="">
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="gallery-img">
          <img src="assets/images/People/1.png" alt="">
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-button expand="block" class="primary-btn">Book Now</ion-button>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>