.text-gold{
    font-size: 14px;
    color: gold !important;
}

.call-item{
    
        --background: var(--ion-color-secondary);
        --border-width: 1px;
        --border-color: #fff;
        --color: #fff;
        --border-radius: 30px;
        ion-note{
            font-size: 16px;
            font-weight: bold;
            color: gold !important;
        }
}