
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Request History</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <div class="spinner-container" *ngIf="showSpinner == 1">
          <ion-spinner color="light" class="white-spinner"></ion-spinner>
        </div>
        <ion-list>
          <ion-item-group *ngFor="let item of get_historyData" (click)="goToNext(item.booking_id)">
            <div class="flex-item">
              <ion-text>{{item.booking_date | date: 'MM/dd/yyyy'}}</ion-text>
              <ion-text>{{item.booking_start_time}}</ion-text>
            </div>
            <ion-item lines="none" class="ion-no-padding">
              <ion-avatar slot="start">
                <img [src]="item?.therapist_info?.user_image"    onerror="this.src='/assets/images/user1-image.jpg'"  alt="">
              </ion-avatar>
              <ion-label>
                <p>{{ item.therapist_info ? item?.therapist_info?.name : 'Not accepted' }}</p>
              </ion-label>
              <ion-text slot="end">
                {{item?.location_details?.location_name}}
              </ion-text>
            </ion-item>
          </ion-item-group>
          <ng-container *ngIf="showSpinner == 2 && get_historyData.length === 0">
            <ion-col size="12" class="ion-text-center ion-padding">
              <div class="no-location">No Request Found.</div>
            </ion-col>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="get_historyData.length < total_Data">
    <ion-infinite-scroll-content class="white-spinner"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>