// ion-card{
//   background: rgb(0, 0, 38, 0.4);
//   padding: 40px 30px;
//   margin: 0;
//   border: 1px solid var(--ion-color-light);
//   border-radius: 12px;
//   box-shadow: none;
//   text-align: center;
//   .icon{
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       margin: auto;
//       height: 85px;
//       width: 85px;
//       border-radius: 50%;
//       border: 2px solid #fff;
//       ion-icon{
          
//               font-size: 60px;
            
//       }
//   }
//   h3{
//       font-size: 18px;
//       color: var(--ion-color-white);
//       font-family: M-Regular !important;
//   }

//   p{
//       font-size: 16px;
//       color: var(--ion-color-light);
//       font-family: M-Regular !important;
//   }
// } 

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
 
}

/* Styles for pagination and navigation buttons */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: #007bff;
  padding: 10px 15px;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: #007bff;
  padding: 10px 15px;
  cursor: pointer;
}

.logo{
    width: 100%;
    max-width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 18px;
    font-family: M-Medium !important;
    color: var(--ion-color-white) !important;
    text-align: left;
}
.inner-content{
    font-size: 14px;
    font-family: M-Regular !important;
    color: var(--ion-color-white) !important;
    text-align: left;
}
.next-btn{
// position: absolute;
// bottom: 50px;
// left: 0;
padding: 16px;
}

// .inner{
//     height: calc(100vh - 290px);
// }

swiper-container{
  &::part(bullet){
    width: 15px;
    height: 5px;
    border-radius: 2px;
  }
  &::part(bullet-active){
    width: 25px;
    height: 5px;
    border-radius: 2px;
  }
}

ion-footer{
  background: transparent;
}