<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg" (click)="dismissModal()"></ion-back-button> -->
      <ion-icon src="assets/icons/back-btn-arrow.svg" (click)="dismissModal()"></ion-icon>
    </ion-buttons>
    <ion-title>SELECT MASSAGE TYPE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <!-- <ion-col size="12">
        <h1 class="page-title mb-15">SEARCH MASSAGE TYPE</h1>
        <ion-item lines="none" class="search-item">
          <ion-searchbar [debounce]="500" (ionInput)="handleInput($event)" show-clear-button="focus" inputmode="search"
          placeholder="Search Treatment" (ionClear)="clear()" ></ion-searchbar>     
      </ion-item>
      </ion-col> -->

      <ion-col size="12">
        <div class="ion-text-center ion-padding" *ngIf="!ready">
          <ion-spinner color="light"></ion-spinner>
        </div>
        <div *ngIf="ready && treatmentData.length == 0">
          <p class="no-location">No treatments found.</p>
        </div>
        <!-- <ion-radio-group [(ngModel)]="selectedTreatment">
          <ion-item lines="none" *ngFor="let item of treatmentData" [ngClass]="{'active': item === selectedTreatment}">
            <ion-label>
              <h3 class="text-white mb-10">{{ item.treatment}} <ion-text class="flot-right"
                  (click)="openModel(item.id)"> View Prices </ion-text></h3>
              <div class="text-white mb-10">
                <div *ngIf="item.description.length > 50">
                  {{ item.description | slice:0:50 }}
                  <span class="read-btn" *ngIf="item.description.length > 100 && !showFullDescription"
                    (click)="toggleDescription(item)">
                    ... Read more
                  </span>
                </div>
                <div *ngIf="showFullDescription && selectedTreatment === item">
                  {{ item.description }}
                  <span class="read-btn" (click)="toggleDescription(item)">
                    Read less
                  </span>
                </div>
                <div *ngIf="item.description.length <= 100 || showFullDescription"></div>
              </div>
            </ion-label>
            <ion-radio mode="md" slot="start" [value]="item"></ion-radio>

          </ion-item>

        </ion-radio-group> -->
      </ion-col>

      <!-- <ion-col size="12">
        <ion-radio-group [(ngModel)]="selectedTreatment">
          <ion-item  lines="none" *ngFor="let item of treatmentData" [ngClass]="{'active': item === selectedTreatment}">
            <ion-radio [value]="item" mode="md" labelPlacement="end">
              <h3 class="text-white mb-10">{{ item.treatment}} <ion-text class="flot-right"
                (click)="openModel(item.id)"> View Prices </ion-text></h3>

            <div class="text-light font-13">
              <div class="text-line-2" *ngIf="item.description.length > 50">
                {{ item.description }}
              </div>

              <div class="text-light font-13" *ngIf="item.description.length <= 100 || showFullDescription"></div>
              <div class="read-btn" *ngIf="item.description.length > 100 && !showFullDescription"
                (click)="toggleDescription(item)">
                Read more
              </div>
              <div *ngIf="showFullDescription && selectedTreatment === item">
                {{ item.description }}
                <div class="read-btn" (click)="toggleDescription(item)">
                  Read less
                </div>
              </div>
            </div>

            </ion-radio>
          </ion-item>

        </ion-radio-group>
      </ion-col> -->

      <ion-col size="12">
        <ion-radio-group [(ngModel)]="selectedTreatment">
          <ion-item lines="none" *ngFor="let item of treatmentData" [ngClass]="{'active': item === selectedTreatment}">
            <ion-radio [value]="item" mode="md" labelPlacement="end">
              <h3 class="text-white mb-10">
                {{ item.treatment }}
                <ion-text class="flot-right" (click)="openModel(item.id)"> View Prices </ion-text>
              </h3>

              <div class="text-light font-13">
                <!-- Show truncated text if not expanded -->
                <div class="text-line-2" *ngIf="!expandedDescriptions[item.id]">
                  {{ item.description | slice:0:100 }}...
                </div>

                <!-- Show full description when expanded -->
                <div *ngIf="expandedDescriptions[item.id]">
                  {{ item.description }}
                </div>

                <!-- Read More / Read Less button -->
                <div class="read-btn" *ngIf="item.description.length > 100" (click)="toggleDescription(item.id)">
                  {{ expandedDescriptions[item.id] ? 'Read less' : 'Read more' }}
                </div>
              </div>
            </ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="isModalOpen" class="modal-center" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-icon src="assets/icons/back-btn-arrow.svg" (click)="closeModel()"></ion-icon>
          </ion-buttons>
          <ion-title>Duration & Prices</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list class="ion-padding">
          <ion-item lines="full" *ngFor="let priceDuration of showValue">
            <ion-label>
              <p>Duration: {{ priceDuration.duration }} minutes</p>
            </ion-label>
            <ion-text slot="end">Price: {{ priceDuration.price | currency }}</ion-text>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-button expand="block" class="primary-btn" type="submit" (click)="submitSelection()"
          [disabled]="!selectedTreatment">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>