<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>My Transactions</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <!-- <ion-icon name="help-circle"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-padding" [fixed]="true">
    <ion-row>

      <ion-col class="ion-text-center" *ngIf="showSpinner == 1">
        <ion-spinner color="light"></ion-spinner>
      </ion-col>

      <ion-col size="12" *ngIf="transaction?.length > 0">
        <ion-list lines="none" class="list-style-1 mt-20">

          <ion-item *ngFor="let item of transaction">
            <ion-label>
              <h3>{{item.created_at | date: 'MM/dd/yyyy'}}</h3>
            </ion-label>
            <ion-text slot="end">
              <h3>{{item.total_amount | currency}}</h3>
              <p>{{item.brand}}{{item.last4}}</p>
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col class="ion-text-center" size="12" *ngIf="showSpinner == 2 && transaction?.length === 0">
        <p class="no-found">No Transaction Found.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="transaction.length < total_data">
    <ion-infinite-scroll-content class="white-spinner"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>