<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Customer Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding" [fixed]="true">
    <div class="ion-text-center ion-padding" *ngIf="!ready">
      <ion-spinner color="light"></ion-spinner>
    </div>
    <ion-row *ngIf="ready && user_details">
   
      <ion-col size="12" class="ion-text-center">
     
        <ion-avatar class="profile-img">
          <img alt="" [src]="user_details.profile_image" onerror="this.src='/assets/images/user1-image.jpg'" />
        </ion-avatar>
        <h4 class="user-name">{{user_details?.first_name}} {{user_details?.last_name?.charAt(0)?.toUpperCase()}}</h4>

        <div class="rating">
          <ng-container *ngIf="user_details.average_rating; else noRating">
            <ng-container *ngFor="let s of starBox; let i = index">
              <ion-icon name="star" *ngIf="user_details.average_rating >= s"></ion-icon>
              <ng-container *ngIf="user_details.average_rating < s">
                <ion-icon name="star-half" *ngIf="user_details.average_rating > (s-1)"></ion-icon>
                <ion-icon name="star-outline" class="blank-star"
                  *ngIf="user_details.average_rating <= (s-1)"></ion-icon>
              </ng-container>
            </ng-container>
            <ion-text> ({{ user_details.average_rating }})</ion-text>
          </ng-container>
          <ng-template #noRating>
            <ng-container *ngFor="let s of starBox">
              <ion-icon name="star-outline" class="blank-star"></ion-icon>
            </ng-container>
          </ng-template>
        </div>
      </ion-col>
      <ion-col size="12">
        <h3 class="section-title">Email</h3> 
        <ion-card>
          <p class="text-light">
            {{ user_details.email}}</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12" size-md="6" offset-md="3" *ngIf="ready && user_details">
        <ion-button expand="block" class="primary-btn" (click)="chat(user_details)">Message</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>