<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" icon="assets/icons/back-btn-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>

      <ion-col size="12" class="ion-text-center">
        <ion-avatar class="profile-img">
          <img alt="" src="assets/images/People/28.png" />
        </ion-avatar>
        <h4 class="user-name">Kayla Smith</h4>
      </ion-col>


      <ion-col size="12">

      </ion-col>

      <ion-col size="12">
        <h4>Favorite Therapists</h4>
        <div class="user-thumbnail">
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
          <div class="user-thumbnail-col">
            <div class="thumbnail-custom">
              <img alt="" class="pic" src="assets/images/People/28.png" />
            </div>
            <p>Sharon S.</p>
          </div>
        </div>

      </ion-col>


      <ion-col size="12">
        <h1 class="page-title mb-30">My Location</h1>
      </ion-col>

      <ion-col size="12">
        <ion-item class="location ">
          <ion-label>
            <p class="para-1">Home</p>
            <p class="para">
              4180 Brigadoon Drive<br>
              Apt 312<br>
              Shoreview, MN 55126</p>
          </ion-label>
          <ion-icon class="pencil" src="assets/icons/edit.svg"></ion-icon>
        </ion-item>


        <ion-item class="locations ">
          <ion-label>
            <p class="para-1">Work</p>
            <p class="para">
              1234 NE Main St.<br>
              Suite 349<br>
              Shoreview, MN 55126</p>
          </ion-label>
          <ion-icon class="pencil" src="assets/icons/edit.svg"></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-button expand="block" class="primary-btn">Add New Location</ion-button>
      </ion-col>






    </ion-row>
  </ion-grid>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item-group>
            <div class="flex-item">
              <ion-text>12/24/2024</ion-text>
              <ion-text>12:00 PM</ion-text>
            </div>
            <ion-item lines="none" class="ion-no-padding">
              <ion-avatar slot="start">
                <img src="assets/images/People/1.png" alt="">
              </ion-avatar>
              <ion-label>
                <p>Mario Rodriguez</p>
              </ion-label>
              <ion-text slot="end">
                Home
              </ion-text>
            </ion-item>
          </ion-item-group>
          <ion-item-group>
            <div class="flex-item">
              <ion-text>12/24/2024</ion-text>
              <ion-text>12:00 PM</ion-text>
            </div>
            <ion-item lines="none" class="ion-no-padding">
              <ion-avatar slot="start">
                <img src="assets/images/People/1.png" alt="">
              </ion-avatar>
              <ion-label>
                <p>Mario Rodriguez</p>
              </ion-label>
              <ion-text slot="end">
                Home
              </ion-text>
            </ion-item>
          </ion-item-group>
          <ion-item-group>
            <div class="flex-item">
              <ion-text>12/24/2024</ion-text>
              <ion-text>12:00 PM</ion-text>
            </div>
            <ion-item lines="none" class="ion-no-padding">
              <ion-avatar slot="start">
                <img src="assets/images/People/1.png" alt="">
              </ion-avatar>
              <ion-label>
                <p>Mario Rodriguez</p>
              </ion-label>
              <ion-text slot="end">
                Home
              </ion-text>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" class="primary-btn">Invest in Yourself</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>